#myBtn {
    behavior: 'smooth';
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #008080; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    transition: all 0s linear;
   
    border-radius: 10px; /* Rounded corners */
    font-size: 35px; /* Increase font size */
  }

  #myBtn.is-visible {

        animation: scale-display--reversed .3s;
        animation-fill-mode:forwards;
        display: inline-flex;
      
    }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    border-radius: 20px;
  }
  /*{box-sizing: border-box;}*/
  
  
  /* The popup form - hidden by default */
  .form-popup {
    display: block;
    position: fixed;
    top: 48px;
    right:0px;
    border: 30px solid #f1f1f1;
    z-index: 9;
    
  }

  #parallax {
    height: 100vh;
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

  